@model WilderExperience.Web.ViewModels.Experiences.ExperienceEditViewModel
@using WilderExperience.Data.Models.Enums

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guide" class="control-label"></label>
                <input asp-for="Guide" class="form-control" />
                <span asp-validation-for="Guide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intensity" class="control-label"></label>
                <select asp-for="Intensity" asp-items="Html.GetEnumSelectList<Intensity>()" class="form-control"></select>
                <span asp-validation-for="Intensity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfVisit" class="control-label"></label>
                <input asp-for="DateOfVisit" type="date" class="form-control" />
                <span asp-validation-for="DateOfVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileNewImages" class="control-label"></label>
                <input asp-for="FileNewImages" class="d-block" />
                <span asp-validation-for="FileNewImages" class="text-danger"></span>
            </div>
            @foreach (var image in Model.Images)
            {
                <figure class="col-md-8">
                    <a href="~/uploads/experiences/@image.Name" data-size="1600x1067">
                        <img alt="picture" src="~/uploads/experiences/@image.Name"
                             class="img-fluid" />
                    </a>
                </figure>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

