@using WilderExperience.Web.Infrastructure;
@{
    ViewData["Title"] = "_PaginationPartial";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "btn-default disabled" : "btn-primary";
    var nextDisabled = !Model.HasNextPage ? "btn-default disabled" : "btn-primary";
}
<a
   asp-all-route-data="@Context.GetQueryParameters().WithRoute("pageNumber",""+(Model.PageIndex-1));"
   class="btn @prevDisabled">
    Previous
</a>
<a
   asp-all-route-data="@Context.GetQueryParameters().WithRoute("pageNumber",""+(Model.PageIndex+1));"
   class="btn @nextDisabled">
    Next
</a>

